@model AngularSample.Areas.CarCalculator.ViewModels.CarCalculatorSummary

@if (@Model.HasData)
{
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.SumDistance.ToString("N") km</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div>Przejechano w sumie</div>
                    <div class="clearfix"></div>
                </div>
             
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.SumAmountOfFuel.ToString("N") l</div>
                            
                        </div>
                    </div>
                </div>
               
                    <div class="panel-footer">
                        <div>Zatankowano w sumie</div>
                        <div class="clearfix"></div>
                    </div>
                
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.SumTotalCost.ToString("N") zł</div>
                           
                        </div>
                    </div>
                </div>
               
                    <div class="panel-footer">
                        <div>Zapłacono w sumie</div>
                        <div class="clearfix"></div>
                    </div>
              
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.AvgAmountOf100Km.ToString("N") l/100km</div>
                           
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div>Średnie spalanie </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.MinAmountOf100Km.ToString("N") l/100km</div>
                            
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div>Minimalne średnie spalanie </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.MaxAmountOf100Km.ToString("N") l/100km</div>
                           
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div>Maksymalne średnie spalanie </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.AvgCostOf1Km.ToString("N") zł</div>
                           
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div>Średni koszt 1 km</div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.MinCost1Km.ToString("N") zł</div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div>Minimalny średni koszt 1 km</div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.MaxCost1Km.ToString("N") zł</div>
                           
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div>Maksymalny średni koszt 1 km</div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        Brak wyników
    </div>
}


